# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build output
dist/
dist-ssr/
build/
out/

# Local environment
.env
.env.local
.env.*.local
*.env

# System & IDE files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Static cache
*.cache
.cache/
npm-cache/
bower_components/

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# Temporary files
tmp/
temp/

# Lock files
package-lock.json
pnpm-lock.yaml
yarn.lock

# Service workers
sw.*
